.title {
  margin: 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  text-transform: uppercase;

  &_type_main {
    font-size: 30px;

    @media (min-width: 1200px) {
      font-size: 60px;
    }
  }

  &_type_lg {
    font-size: 18px;

    @media (min-width: 1200px) {
      font-size: 38px;
    }
  }
}
